<div class="nes-container my-8 is-rounded is-dark h-fit lg:h-72 flex-col justify-between">
    <div class="w-full flex justify-around items-center py-8">
        <span class="w-full font-semibold text-3xl text-center"> <%= question.question %> </span>
    </div>
</div>