<div class="nes-container my-8 is-rounded is-dark h-fit md:h-72 flex-col justify-between">
    <div class="w-full flex justify-around items-center py-8">
        <span class="w-full font-semibold text-3xl text-center"> <%= question.question %> </span>
    </div>
    <div class="w-full flex flex-col p-5 md:flex-row items-center md:justify-between">
        <% question.possible_answers.each do |ans| %>
            <%= button_tag(type: "button", 
                class: "md:max-w-xl w-full rounded-full p-2 m-2 bg-white overflow-ellipsis", 
                data: {
                    reflex: "click->Quiz#check_answer", 
                    :qid => question.id, 
                    :order => order,
                    :next_index => next_index,
                    :my_answers => my_answers,
                    :correct_answer_count => correct_answer_count,
                    :ans => ans}) do %>
                <span class="text-center text-black font-semibold px-5"> <%= ans %> </span>
            <% end %>
        <% end %>
    </div>
</div>