<div class="w-full mx-auto">
  <% if notice.present? %>
    <%= render(partial: "shared/basic_notification", locals: {message: notice})%>
  <% end %>

  <div class="flex justify-between items-center md:mx-20">
    <%= render(partial: "quizzes/landing", locals: {quizzes: @quizzes}) %>
  </div>
</div>