<div class="flex flex-col md:grid grid-rows-3">
    <div class="py-5 px-2 md:px-10 md:py-1 flex flex-col items-center row-start-2 row-end-3">
        <h1 class="w-full text-xl lg:text-3xl text-center lg:text-justify" >
            Welcome to <span class="text-white font-bold"> ReQuiz.</span>
            Your own personal revision app. Where we allow
            you to  upload notes and develop qiuzzes and flashcards. All we want
             to do is help you study.
         </h1>
         <div class="lg:mt-10 my-2 hover:bg-flashBlue py-2 px-5 m-2 rounded-xl border border-black hover:text-black">
           <%= link_to "Get Started", new_registration_path(resource_name), class: "hover:text-white w-full font-serif font-bold text-white" %><br />
         </div>
    </div>
</div>
