    <section class="message -left">
        <i class="nes-bcrikko"></i>
        <!-- Balloon -->
        <div class="nes-balloon from-left is-dark">
          <p>Congratulations, You Made it to the end. And with a perfect score no less</p>
        </div>
    </section>
    <section class="message -left">
        <i class="nes-bcrikko"></i>
        <!-- Balloon -->
        <div class="nes-balloon from-left is-dark">
          <p>Happy Birthday Bro. Know that I always look up to You nd hope to one day get on your level :) </p>
        </div>
    </section>
     <section class="message -left">
        <i class="nes-bcrikko"></i>
        <!-- Balloon -->
        <div class="nes-balloon from-left is-dark">
          <p>Now Get off your computer and go do drugs. ILY <3</p>
        </div>
    </section>