<% is_edit ||= false %>
<% topic = is_edit ?  object : Topic.new %>

<div class ="grid place-items-center border py-2 px-5 rounded border-gray-300 items-center shadow-md shadow-gray-400" >
  <h2 class="mb-5 text-lg font-bold">New Topic</h2>

  <form>
    
    <div class="field flex flex-col items-center mb-5">
      <%= label_tag :title %>
      <%= text_field(:topic, :title, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full") %>
    </div>

    <div class="actions flex justify-around">
      <%= button_tag "Create New Topic", class: "bg-blue-500 p-2 rounded m-2 text-white", data: { reflex: "click->HomeReflex#save_new_object", model: "topic", reflex_serialize_form: true } %>
    </div>

  </form>
    
</div>