<h3 class="font-bold text-sans3"> How to Format your CSV files </h3>

<p>
    This is a back up method where you can upload your own CSV files with the
    questions. The format for a single csv line will be
    <br/>
    <span class="font-bold text-monospace">
        &emsp; "question as string", "choice 1", "choice 2", "choice 3", "answer"
    </span>
    <br/>
    The number of lines here will be the number of questions generated for the quiz.
</p>
