<div>
    <h1 class="font-bold text-sans3"> Quiz </h1>
    <p>
        So when it comes to creating quizzes the plan is to have the user upload
        a piece of text and use a tool that will analyze the piece of text and
        generate quizzes and flashcards from the text. The questions should
        typically be true or false questions and multiple choice questions.
    </p>
    <h2 class="font-bold text-sans3"> CSV Format </h2>
    <%= render(partial: "docs/csv") %>
</div>
