1<% is_error ||= false %>

<div class="z-50 max-w-32 border bg-white <%= is_error ? "border-red-600 shadow-red-500" : "border-blue-600 shadow-blue-500" %> p-2 rounded-lg absolute bottom-10 shadow-lg animate-fade-out">
    <span class="font-semibold flex items-center">
        <%= is_error ? icon('fa-solid', 'circle-exclamation', class: "text-red-600 mx-2") : icon('fa-regular', 'bell', class: "text-blue-600 mx-2") %> 
        <%= message %> 
    </span>
</div>