<div class="min-w-64">
    <%= button_tag(type: "button", 
        data: {reflex: "click->Shared::NotificationModalReflex#close_modal"},
        class: "relative top-0 left-0 ") do %>
            <span class="text-2xl "> <%= icon("fa-solid", "xmark", class: "font-semibold p-2 border-b shadow-md rounded") %> </span>
    <% end %>
    <div class="px-5 m-5">
        <%= render(partial: partial_path, locals: sub_locals) %>
    </div>
</div>