<% actions = {
    "New SubTopic" => ["", "click->Application#show_notification"],
    "Link to Other Topic" => ["", "click->Application#show_notification"],
    "Create Flash Card" => ["", "click->Application#show_notification"]
}%>


<div class="flex justify-between w-full">
    <ul>
        
    </ul>
</div>