<div class="flex flex-col px-10">
    <div class="md:px-10 md:py-1 flex flex-col items-center row-start-2 row-end-3">
        <p class="w-full text-xl md:text-5xl text-white text-center md:text-justify" >
            Welcome to <span class="underline font-logo"> ReQuiz.</span>
            Your own personal revision app that you can take to <span class="underline">study anywhere</span>. Where we allow
            you to  upload notes and develop qiuzzes and flashcards. All we want
            to do is help you <span class="underline"> study anytime </span>.
        </p>
    </div>

    <% if current_user.has_quizzes? %>
        <% quiz = current_user.quizzes.last %>
        <div class="md:px-10 md:py-10 flex justify-around">
            <%= button_tag(type: "button", id: "start_btn", data: {
                  reflex: "click->Quiz#start_quiz", id: quiz.id
                }, class: "p-2 rounded-lg bg-flashBlue") do %>
                  <%= icon("fa-solid", "play") %>
                  <span class=" text-white text-xl"> Continue with your last quiz </span>
              <% end %>
        </div>
    <% else %>
        <div class="md:px-10 md:py-10 flex justify-around">
            <%= link_to(root_path(focus: "quiz"), class: "p-2 rounded-lg bg-flashBlue #{}") do %>
                <span class=" text-white text-xl"> Get started with your first Quiz </span>
            <% end %>
        </div>
    <% end %>
</div>