<% unless current_user.topics.empty? %>
    <% topics.each do |topic| %>
        <div class="">
            <%= button_tag(class: "py-1 px-2 my-1 bg-blue-500 rounded-lg ", type: "button", data: { reflex: "click->HomeReflex#focus_on_new_topic", topic_id: topic.id }) do %>
                <span class="text-white font-semibold flex justify-around"> <%= topic.topic_name  %> </span> <!-- TODO will trigger an SR action -->
            <% end %> 
        </div>
    <% end %>
<% else %> 
    <span class="font-semibold text-justify "> Hey there! you don't have any topics yet. Let's get you set up with one by clicking the button below </span>
<% end %> 