<div class="flex flex-col px-10">
    <div class="md:px-10 md:py-1 flex flex-col items-center row-start-2 row-end-3">
        <p class="w-full text-2xl md:text-5xl text-white text-justify" >
            Welcome to <span class="underline font-logo"> ReQuiz.</span>
            Your own personal revision app that you can take to <span class="underline">study anywhere</span>. Where we allow
            you to  upload notes and leverage OpenAI's ChatGPT to generate quizzes and flashcards. All we want
            to do is help you <span class="underline"> study anytime </span>.
        </p>
    </div>

</div>