<div class="w-full h-full grid grid-cols-6">
    <aside class="m-2 col-start-1 col-end-3 grid grid-rows-6">
        <div class="row-start-1 row-end-2 border border-gray-500 mb-1 flex flex-row-reverse p-2 rounded-md shadow-md shadow-gray-500">
            <span class="text-right font-semibold"><%= "@#{current_user.handle}##{current_user.public_id}" %> </span>
        </div>

        <div class="row-start-2 row-end-7 border border-gray-500 rounded-md shadow-md shadow-gray-500 mt-1 p-2">
            <div class="flex justify-center">
                <span class="font-bold p-1"> My Topics </span>
            </div>
            <div class="overflow-y-scroll max-h-72">
                <% unless current_user.topics.empty? %>
                    <% @topics.each do |topic| %>
                        <div class="border border-gray-400 p-1 my-2 bg-blue-500 rounded">
                            <span class=""> <%= topic.topic_name  %> </span> <!-- TODO will trigger an SR action -->
                        </div>
                    <% end %>
                <% else %> 
                    <span class="font-semibold text-justiify "> Hey there! you don't have any topics yet. Let's get you set up with one by clicking the button below </span>
                    <div class="p-1 my-2 bg-blue-500 rounded">
                        <span class="text-white font-semibold flex justify-around"> + Add a new topic </span> <!-- TODO will trigger an SR action -->
                    </div>
                <% end %>
            </div>
        </div>
    </aside>

    <div class="border border-gray-500 rounded-md shadow-md shadow-gray-500 m-2 col-start-3 col-end-7">

    </div>
</div>